{% extends 'base.html' %}

{% block title %}Explore{% endblock %}

{% block content %}

{% if user.is_authenticated%}
<a href="explore">Explore</a>
<a href="my_profile">My Profile</a>
<a href="logout">Logout</a><br>

<p>Username : {{user_name}}</p><br>
<p>Followers : {{followers}}</p><br>
<p>Last Updated : {{last_update}}</p><br>
<p> Repositories :</p>
<ol>
    {% for repo in Repo %}
    {% csrf_token %}
    <li>{{repo.repo_name}}  Stars :{{repo.repo_star}}</li>
    {% endfor %}
</ol>
{% else %}
<p>You are not Logged in</p><br>
<p>Please 
<a href="accounts/register">Register</a> or 
<a href="accounts/login">Login</a>
</p>
{%endif%}
{% endblock %}